@import "tailwindcss";

@layer base {
  html,
  body {
    scrollbar-width: none !important; /* Firefox */
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, Edge */
  }
}
